.header{
    background-color: #f78848;
    height: 52px;
    width: 100%;
    top: 0;
}

.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}